// colors
$gray-100: #EFEFEF;
$gray-200: #D3D3D3;
$gray-300: #ABABAB;
$gray-400: #929292;
$gray-500: #606060;
$black: #000000;

// dropdown
// $dropdown-bg: $gray-100;
$dropdown-border-color: $gray-100;
$dropdown-link-color: $gray-500;
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-hover-color: $gray-500;
$dropdown-link-active-bg: $black;
$dropdown-link-active-color: $gray-100;